body {
    background-color: #b38574;
    margin: 0;
    font-family: Arial, sans-serif;
}

header {
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;
    text-align: center;
    width: 95%;
    z-index: 10;
}

nav > ul {
    display: flex;
    list-style-type: none;
    gap: 10px;
    padding: 0;
}

nav > ul > span {
    flex-grow: 1;
}

.main-section > img {
    position: relative;
    display: inline-block;
    width: 100%;
    height: 100vh;
    max-width: 100%;
    object-fit: cover;
    filter: brightness(75%);
}

.main-section > h1 {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;
    text-align: center;
    width: 80%;
}

.main-section > h2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;
    text-align: center;
    width: 80%;
}

.quote-section > h1 {
    text-align: center;
}

.img-section > div {
	display: flex;
	justify-content: space-around;
    margin-bottom: 10px;
}

.img-section > div > img {
    flex-grow: 1;
    margin: 5px;
    padding: 10px;
    width: 100%;
    max-height: 512px;
    object-fit: cover;
}

.img-section > div > img:hover {
    transform: scale(1.05);
    transition: transform 0.5s;
}

footer {
    text-align: center;
    margin-top: 20px;
    padding: 10px;
    background-color: #855858;
}