/* build.css
    CSS para build.html
*/

/*Estilos para los 4 secciones*/
.talent-section,
.constellation-section,
.artifact-section,
.weapon-section {
    max-width: 1400px;
    margin: 60px auto;
    padding: 0 20px;
}

/*Estilo para el titulo de las secciones*/
.talent-section > h1,
.constellation-section > h1,
.artifact-section > h1,
.weapon-section > h1 {
    font-family: "Luckiest Guy", cursive;
    font-size: 60px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 5px;
    color: var(--title-text);
    text-shadow:
        0 0 10px black,
        0 0 40px var(--title-shadow);
    margin-bottom: 50px;
    position: relative;
}

/*Linea decorativa en las secciones*/
.talent-section > h1:after,
.constellation-section > h1:after,
.artifact-section > h1:after,
.weapon-section > h1::after {
    content: "";
    display: block;
    width: 200px;
    height: 4px;
    background: linear-gradient(90deg, transparent, var(--accent), transparent);
    margin: 15px auto 0;
    border-radius: 2px;
}


/*Flex para los grids de talent y constellation*/
.talent-grid,
.constellation-grid {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

/*Grid para los de artifact y weapon*/
.artifact-grid,
.weapon-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    gap: 20px;
}

/*Tarjetas individuales*/
.talent-item,
.constellation-item,
.artifact-item,
.weapon-item {
    display: flex;
    flex-direction: column;
    gap: 25px;
    background: var(--bg2);
    border-radius: 20px;
    border: 2px solid var(--accent);
    padding: 20px;
    position: relative;
}

/*Estilo de la imagen de la tarjeta*/
.talent-item > img,
.constellation-item > img,
.artifact-item > img{
    width: 128px;
    height: 128px;
    object-fit: cover;
    border-radius: 50%;
    border: 2px solid var(--accent);
    position: relative;
    transition: ease 0.3s;
}

/*Extra del estilo*/
.artifact-item > img {
    margin-left: auto;
    margin-right: auto;
}

/*Estilo de la imagen a la derecha*/
.weapon-item > img {
    position: absolute;
    top: 15px;
    right: 15px;
    width: 70px;
    height: 70px;
    object-fit: contain;
    border-radius: 50%;
    border: 2px solid var(--accent);
    transition: ease 0.3s;
}

/*El titulo de cada tarjeta*/
.talent-item > h2,
.constellation-item > h2,
.artifact-item > h2,
.weapon-item > h2 {
    font-family: "Luckiest Guy", cursive;
    font-size: 30px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: var(--subtitle-text);
    text-shadow:
        0 0 6px black,
        0 0 14px var(--title-shadow);
}

/*Estilo extra añadido*/
.weapon-item > h2 {
    font-size: 20px;
    margin-top: 5px;
    margin-bottom: 20px;
    padding-right: 25%;
    line-height: 1.3;
    position: absolute;
}

/*Estilo para el texto*/
/*LO SIGUIENTE ES TODO PARA EL TEXTO*/
.talent-item > ul,
.constellation-item > ul,
.artifact-item > ul,
.weapon-item > ul {
    list-style: none;
    padding: 0px;
    margin: 0px;
}

.weapon-item > ul {
    padding-top: 80px;
}

.talent-item > ul > li,
.constellation-item > ul > li {
    margin-bottom: 8px;
    position: relative;
    padding-left: 20px;
}

.artifact-item > ul > li,
.weapon-item > ul > li {
    margin-bottom: 8px;
}

.talent-item > ul > li:before,
.constellation-item > ul > li:before {
    position: absolute;
    left: 0;
    color: var(--accent);
    font-size: 10px;
    top: 5px;
}

.talent-item > ul > li:before {
    content: "◆";
}

.constellation-item > ul > li:before {
    content: "★";
}

.talent-item > ul > li > p,
.constellation-item > ul > li > p,
.artifact-item > ul > li > p,
.weapon-item > ul > li > p {
    font-size: 15px;
    line-height: 2;
    color: var(--text);
}

.talent-item > ul > li > ul,
.constellation-item > ul > li > ul {
    list-style: none;
    padding-left: 20px;
    margin-top: 5px;
}

.talent-item > ul > li > ul > li,
.constellation-item > ul > li > ul > li {
    padding-left: 15px;
    margin-bottom: 5px;
}

.talent-item > ul > li > ul > li:before,
.constellation-item > ul > li > ul > li:before {
    content: "▸";
    position: absolute;
    left: 0;
    padding-left: 35px;
    color: var(--accent);
    font-size: 20px;
}

.talent-item > ul > li > ul > li > p,
.constellation-item > ul > li > ul > li > p {
    font-size: 15px;
    line-height: 2;
    color: var(--text);
}

/*Cambios de estilo cuando esta el cursor encima*/
.talent-item:hover,
.constellation-item:hover,
.artifact-item:hover,
.weapon-item:hover {
    border-color: var(--accent);
    box-shadow:
        -5px 5px 25px var(--box-shadow),
        0 0 40px var(--box-shadow2);
}

/*Animacion de zoom cuando esta el cursor encima*/
.talent-item:hover > img,
.constellation-item:hover > img,
.artifact-item:hover > img,
.weapon-item:hover > img {
    transform: scale(1.1);
    box-shadow: 
        0 0 30px var(--box-shadow),
        0 0 20px black;
    transition: ease 0.3s;
}