/* stats.css
    CSS para stats.html
*/

/* Sección de estadísticas */

.stats-section {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;
    padding: 0 20px;
}

.stats-section > h1 {
    font-family: "Luckiest Guy", cursive;
    font-size: 60px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 5px;
    color: var(--title-text);
    text-shadow:
        0 0 10px black,
        0 0 40px var(--title-shadow);
    margin-bottom: 50px;
    position: relative;
}

.stats-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 25px;
}

/* Contenedores de tablas */
.min-stats,
.opt-stats,
.art-stats {
    background: rgba(42, 21, 21, 0.8);
    border-radius: 15px;
    border: 2px solid var(--nav-ul-border);
    padding: 20px;
}

.art-stats {
    grid-column: 1 / -1;
    font-weight: bold;
}

.min-stats > img,
.opt-stats > img {
    width: 100%;
    height: 350px;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 15px;
    border: 2px solid var(--accent);
    transition: ease 0.3s;
}

.min-stats > img:hover,
.opt-stats > img:hover {
    transform: scale(1.05);
    transition: ease 0.3s;
}

.art-head > tr > th > img {
    width: 50px;
    height: 50px;
    display: block;
    margin: 0 auto;
    border-radius: 50%;
    border: 2px solid var(--accent);
    padding: 3px;
    background: rgba(26, 15, 15, 0.8);
    transition: ease 0.3s;
}

.art-head > tr > th > img:hover {
    transform: scale(1.4);
    transition: ease 0.3s;
}

.min-table,
.opt-table,
.art-table {
    width: 100%;
    border-collapse: collapse;
}

.art-table {
    table-layout: fixed;
}

.min-head > tr > th,
.opt-head > tr > th,
.art-head > tr > th {
    background: var(--nav-li-bg);
    color: var(--accent);
    padding: 12px;
    text-align: center;
    font-weight: bold;
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 2px;
    border: 1px solid rgba(255, 179, 71, 0.3); /*--COLOR*/
}

.min-body > tr,
.opt-body > tr {
    border-bottom: 1px solid rgba(255, 179, 71, 0.2); /*--COLOR*/
}

.min-body > tr > td,
.opt-body > tr > td,
.art-body > tr > td {
    background: rgba(42, 21, 21, 0.8);
    padding: 10px 12px;
    color: var(--text);
    font-size: 15px;
    border: 1px solid rgba(255, 179, 71, 0.15); /*--COLOR*/
    text-align: center;
}

.min-body > tr > td:first-child,
.opt-body > tr > td:first-child {
    font-weight: bold;
    color: var(--accent);
    text-align: left;
}

.min-body > tr > td:last-child,
.opt-body > tr > td:last-child {
    font-family: monospace;
    font-size: 16px;
}