/* team.css
    CSS para team.html
*/

.synergies-section {
    max-width: 1300px;
    margin: 60px auto;
    padding: 0 20px;
}

.synergies-section > h1 {
    font-family: "Luckiest Guy", cursive;
    font-size: 70px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 5px;
    color: var(--title-text);
    text-shadow:
        0 0 10px black,
        0 0 40px var(--title-shadow);
    margin-bottom: 60px;
}

.synergies-section > h1:after {
    content: "";
    display: block;
    width: 250px;
    height: 4px;
    background: linear-gradient(90deg, transparent, var(--accent), transparent);
    margin: 20px auto 0;
    border-radius: 2px;
}

.synergies-grid {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.synergies-grid > h1 {
    font-family: "Luckiest Guy", cursive;
    font-size: 40px;
    text-transform: uppercase;
    letter-spacing: 5px;
    color: var(--subtitle-text);
    text-align: center;
    margin: 30px 0 20px;
    padding: 15px 30px;
    background-color: rgba(151, 26, 26, 0.4); /*--COLOR*/
    border-radius: 50px;
    border: 2px solid rgba(255, 179, 71, 0.5); /*--COLOR*/
    box-shadow: 
        0 0 25px rgba(255, 140, 50, 0.3), /*--COLOR*/
        0 0 30px rgba(0, 0, 0, 0.3); /*--COLOR*/
}

.synergies-item {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto 1fr;
    gap: 20px;
    border-radius: 20px;
    border: 2px solid rgba(255, 179, 71, 0.35); /*--COLOR*/
    padding: 20px;
}

.synergies-item > img {
    grid-row: 1 / 3;
    width: 90px;
    height: 90px;
    object-fit: cover;
    border-radius: 50%;
    border: 3px solid var(--accent);
    transition: ease 0.3s;
}

.synergies-item > h2 {
    grid-column: 2;
    grid-row: 1;
    font-family: "Luckiest Guy", cursive;
    font-size: 30px;
    letter-spacing: 5px;
    text-transform: uppercase;
    color: var(--subtitle-text);
    margin-top: 20px;
}

.synergies-item > h2:after {
    content: "";
    display: block;
    width: 80px;
    height: 3px;
    background: linear-gradient(90deg, var(--accent), transparent);
    margin-top: 8px;
    border-radius: 2px;
}

.synergies-item > p {
    grid-column: 2;
    grid-row: 2;
    font-size: 15px;
    line-height: 2;
    color: var(--text);
    text-align: justify;
}

.synergies-item:hover {
    border-color: var(--accent);
    box-shadow: 
        -5px 5px 25px rgba(255, 140, 50, 0.4), /*--COLOR*/
        0 0 40px rgba(255, 179, 71, 0.25); /*--COLOR*/
}

.synergies-item:hover > img {
    transform: scale(1.1);
    box-shadow: 
        0 0 30px rgba(255, 179, 71, 0.9), /*--COLOR*/
        0 0 15px rgba(0, 0, 0, 0.4); /*--COLOR*/
    border-color: rgba(255, 179, 71, 1); /*--COLOR*/
    transition: ease 0.3s;
}